---
import Logo from "./Logo.astro";
import { Github, Laptop, Linkedin } from "lucide-astro";
import ToggleTheme from "../components/ToggleTheme.astro";

const path = Astro.url.pathname;
---

<header class="mb-12 py-6">
  <nav class="container mx-auto px-2 md:px-[10rem] flex">
    <div class="flex-1">
      <a href="/">
        <Logo
          class="hover:scale-105 transition-transform ease-out cursor-pointer"
        />
      </a>
    </div>

    <ul class="hidden md:flex md:gap-2 justify-center flex-1 w-full">
      <li class="flex justify-center">
        <a
          href="/posts"
          class={`
          ${
            path === "/posts"
              ? "bg-primary text-white hover:bg-gray-800"
              : "bg-transparent text-gray-600 hover:bg-gray-100 hover:text-gray-900"
          }
          py-2 px-4 rounded-full hover:cursor-pointer
          `}
        >
          All Posts
        </a>
      </li>
      <li class="flex justify-center">
        <a
          href="#"
          class="py-2 px-4 rounded-full text-gray-600 hover:bg-gray-100 hover:cursor-pointer hover:text-gray-900"
        >
          Topics
        </a>
      </li>
    </ul>

    <ul class="flex-1 flex gap-2 justify-end">
      <li class="flex justify-center">
        <ToggleTheme />
      </li>
      <li class="flex justify-center">
        <a
          href={import.meta.env.PUBLIC_URL_PERSONAL_WEB}
          target="_blank"
          rel="“noreferrer”"
          class="has-tooltip relative p-2 rounded-full text-gray-600 hover:bg-gray-100 hover:cursor-pointer hover:scale-105 hover:text-gray-900 transition-transform ease-out"
        >
          <Laptop size={24} />
          <span
            class="tooltip rounded-full shadow-lg py-1 px-6 text-sm absolute z-10 w-fit -bottom-8 -left-12 bg-slate-800 text-slate-100 text-center"
            >fervasquez.com</span
          >
        </a>
      </li>
      <li class="flex justify-center">
        <a
          href={import.meta.env.PUBLIC_URL_LINKEDIN}
          target="_blank"
          rel="“noreferrer”"
          class="has-tooltip relative p-2 rounded-full text-gray-600 hover:bg-gray-100 hover:cursor-pointer hover:scale-105 hover:text-gray-900 transition-transform ease-out"
        >
          <Linkedin size={24} />
          <span
            class="tooltip rounded-full shadow-lg py-1 px-6 text-sm absolute z-10 w-fit -bottom-8 -left-12 bg-slate-800 text-slate-100 text-center"
            >linkedin.com/in/fervqz</span
          >
        </a>
      </li>
      <li class="flex justify-center">
        <a
          href={import.meta.env.PUBLIC_URL_GITHUB}
          target="_blank"
          rel="“noreferrer”"
          class="has-tooltip relative p-2 rounded-full text-gray-600 hover:bg-gray-100 hover:cursor-pointer hover:scale-105 hover:text-gray-900 transition-transform ease-out"
        >
          <Github size={24} />
          <span
            class="tooltip rounded-full shadow-lg py-1 px-6 text-sm absolute z-10 w-fit -bottom-8 -left-12 bg-slate-800 text-slate-100 text-center"
            >github.com/fervqz</span
          >
        </a>
      </li>
    </ul>
  </nav>
</header>
