<section class="mb-14 flex flex-col gap-2">
  <h1 class="text-6xl font-bold relative -left-2 text-primary">Welcome!</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eveniet saepe
    voluptatem itaque officia ullam illum a quas repudiandae, iusto quia,
    dolores culpa quidem reiciendis beatae sint. Officiis, dolorum nesciunt!
  </p>
</section>
