<section class="mb-14 flex flex-col gap-2">
  <h1 class="text-6xl font-bold text-primary mb-4">Here we blog!</h1>
  <p class="text-lg">
    👋 Welcome to my digital realm, where I delve into the captivating subjects
    that pique my curiosity. From the latest JavaScript trends to coffee
    brewing, music, and much more. I am Fer, a seasoned <strong
      >Full-Stack Web Developer boasting over +5 years</strong
    > of invaluable experience in the dynamic realm of web development. Join me as
    I navigate through the intricate landscapes of coding, design, and innovation,
    unraveling the complexities of the digital world one line of code at a time.
  </p>
</section>
